* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: "Public Sans", sans-serif;
	color: #efefef;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
}

.timeline {
	position: relative;
	width: 100%;
	height: 100%;
}
.loader {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: #000000;
	z-index: 1;
}
.loaderImg {
	width: 137 !important;
	height: auto;
	object-fit: contain;
	cursor: pointer;
	transition: transform 0.5s ease;
}
.loaderImg:hover {
	transform: scale(1.1);
}
.loaderText {
  position: relative;
	width: 565px;
	height: 152px;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
	text-align: center;
	margin-bottom: 105px;
	margin-top: 10%;
}
.timeline__bar {
	display: none;
	position: absolute;
	bottom: 70px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 40%;
	height: 3px;
	background: #ffd700;
	z-index: 1;
	border-radius: 50px;
}

.timeline__dots {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.timeline__dot {
	/* position: relative;
	width: 15px;
	height: 15px; */
	width: 20px;
	height: 20px;
	background: #ffd700;
	border-radius: 50%;
	cursor: pointer;
	transition: transform 0.5s ease;
}

.timeline__dot{

}

.timeline__dot:hover::after {
	transform: scale(1.2);
}

.dot {
	position: absolute;
	top: 15px;

  margin-top: 5px;
	font-weight: 400;
	font-size: 25px;
	line-height: 43px;
	text-align: center;
  transform: translateX(-30%);
	cursor: pointer;
}

.filters {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
  font-family: "Public Sans", sans-serif;
	height: 56px;
	width: 310px;
	margin-top: 7rem;
	margin-left: 2rem;
	z-index: 1;
	opacity: 0;
}
.filter {
	display: flex;
	align-items: center;
	width: 305px;
	height: 54px;
	cursor: pointer;
	transition: transform 0.5s ease;
}
.filter:hover {
	transform: scale(1.1);
}

/* .illustration {
	width: 38px;
	height: auto;
	object-fit: contain;
	align-items: center;
} */

.text-content {
  display: flex;
  justify-content: center;
  align-items: center;
	width: 305px;
	height: 54px;
	font-weight: 600;
	font-size: 17px;
	line-height: 27px;
  text-align: left;
  margin-left: -40px;
}

.radial {
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(243, 243, 243, 0.36) 0%,
		rgba(187, 187, 187, 0) 100%
	);
}
.zoom_dezoom {
	position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
	top: 0;
	right:0;
	width: 100px;
	height: 200px;
  margin-top: 1rem;
  margin-right: 2rem;
	z-index: 1;
}

.zoom {
	width: 56px;
	height: auto;
	display: none;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.zoom:hover {
  transform: scale(1.2);
}
.unzoom {
	width: 56px;
	height: auto;
	display: none;
  margin-top: -35px;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.unzoom:hover {
  transform: scale(0.8);
}
.selectedItem{
  transform: scale(1.5);
}
.textAnim{
  position: relative;

  /* opacity: 0; */

}
